Camera/.idea/
Camera/Camera.iml
Camera/app/app.iml
Camera/gradle/wrapper/gradle-wrapper.jar
Camera/gradle/wrapper/gradle-wrapper.properties
Camera/gradlew
Camera/gradlew.bat
gradlew
gradlew.bat
.gradle/
.idea/
local.properties
app/app.iml
camera.iml
build/intermediates/dex-cache/cache.xml
/componentUI_1_0/
PushSDK/build/intermediates/bundles/debug/classes.jar
PushSDK/build/intermediates/bundles/release/classes.jar
PushSDK/build/intermediates/incremental/mergeAssets/debug/merger.xml
PushSDK/build/intermediates/incremental/mergeAssets/release/merger.xml
PushSDK/build/intermediates/incremental/packageResourcesdebug/merger.xml
PushSDK/build/intermediates/incremental/packageResourcesrelease/merger.xml
PushSDK/build/outputs/aar/PushSDK-debug.aar
PushSDK/build/outputs/aar/PushSDK-release.aar
